{{define "header"}}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/public/css/main.css">
	<title>Title</title>
</head>
<body>

</body>
</html>
{{end}}
{{define "footer"}}
{{end}}